#game-details-main {
	background: var(--background-gradient);
}

#game-details-main #game-details-section {
	margin: 1rem 10%;
	padding-bottom: 1rem;

	display: flex;
	flex-direction: column;
	align-items: center;
}

#game-details-main #game-details-section img#game-details-banner {
	width: 100%;
	border-radius: var(--border-radius) var(--border-radius) 0 0;

	-webkit-mask-image: linear-gradient(
		180deg,
		rgba(0, 0, 0, 1),
		rgba(0, 0, 0, 0)
	);
	mask-image: linear-gradient(180deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

	margin-bottom: -5rem;
}

#game-details-main #game-details-section article#game-details-content {
	margin: 0 3rem;

	display: grid;
	grid-template: 1fr / 70% 30%;
	gap: 3rem;
}

#game-details-main
	#game-details-section
	article#game-details-content
	.game-details-text {
	color: var(--white);
	padding-bottom: 1rem;
	line-height: 1.5;
}

#game-details-main #game-details-section div.game-details-lists {
	display: flex;
	flex-flow: row wrap;
	gap: .5rem;

	padding-bottom: 1rem;
}

#game-details-main #game-details-section #game-details-img-bottom {
	width: 500px;

	margin-bottom: 1rem;
}

.comments-section {
	margin-top: 20px;
	padding: 20px;
	background: #222;
	border-radius: 10px;
}

.comments-list {
	list-style: none;
	padding: 0;
}

.comment {
	margin-bottom: 10px;
	padding: 10px;
	background: #333;
	border-radius: 5px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.comment strong {
	color: #fff;
}

.delete-btn {
	background: none;
	border: none;
	color: red;
	cursor: pointer;
	font-size: 16px;
}

.comment-form {
	display: flex;
	flex-direction: column;
	gap: 10px;
	margin-top: 10px;
}

.comment-form textarea {
	width: 100%;
	padding: 10px;
	resize: none;
	border-radius: 5px;
	border: 1px solid #555;
	background: #444;
	color: white;
}

.submit-btn {
	align-self: flex-start;
	padding: 8px 15px;
	border-radius: 5px;
	background-color: #0084ff;
	color: white;
	cursor: pointer;
}
