body {
  background: var(--background-gradient);
  min-height: 100vh;
}

.home-header {
  background-image: url("../assets/images/logohearder.png");
  background-repeat: round;
  height: 250px;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
