body {
  background: var(--background-gradient);
  min-height: 100vh;
}

.game-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

p {
  color: var(--white);
  font-family: var(--font-paragraph);
}

.game-card {
  display: flex;
  height: 300px;
  width: 300px;
}
