.card-game .info-button img {
	width: 15px;
	height: 15px;
}

.card-game .disconnected {
	width: fit-content;
}

#buttons-featured .disconnected {
	width: 10rem;
}

#buttons-featured .disconnected p {
	font-family: Orbitron sans-serif;
	font-size: 14px;
}
