.game-tag {
	color: var(--white);

	border-radius: var(--border-radius);
	padding: .5rem 1rem;

	background: linear-gradient(to right, black, black),
		linear-gradient(to right, #19a1be, #7d4192);
	background-clip: padding-box, border-box;
	background-origin: padding-box, border-box;
	border: solid 2px transparent;

	font-size: 0.8rem;
	opacity: 75%;
}

button.button-tags {
	font-family: "Nunito", sans-serif;
	font-size: 0.8rem;
	color: var(--white);

	opacity: 75%;
	background-color: transparent;
	border: none;

	cursor: pointer;
}
