.card-game-container {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card-game {
	position: relative;
	width: 200px;
	height: 290px;
	border: 2px solid #a661d0;
	border-radius: 15px;
	overflow: hidden;
	cursor: pointer;
	transition: transform 0.3s ease, z-index 0.3s ease;
	margin: 10px;
	display: flex;
	flex-direction: column;
}

.card-game:hover {
	z-index: 10;
	transform: scale(1.05);
}

.card-game img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 15px;
}

.card-game .details {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 17%;
	background: rgb(0, 0, 0);
	color: #fff;
	text-align: center;
	font-size: 1rem;
	transition: height 0.5s ease, padding 0.5s ease;
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.card-game:hover .details {
	height: 100%;
	opacity: 0.9;
}

.card-game .details h3 {
	margin-top: 1rem;
	margin-bottom: 1rem;
	font-size: .9rem;
}

.card-game .details p {
	margin: 0;
	font-size: 0.9rem;
}

.card-game .button-container {
	display: flex;
	justify-content: center;
	width: 100%;
	gap: 10px;
	margin-top: 120%;
	position: absolute;
}

.card-game .button-container button {
	background-color: #6c63ff;
	border: none;
	padding: 5px 20px;
	color: #fff;
	border-radius: 5px;
	font-size: 0.8rem;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.card-game .button-container button:hover {
	background-color: #4b47cc;
}

.device-container {
	display: flex;
	justify-content: space-around;
}

.device-container img {
	display: flex;
	height: 35px;
	width: 35px;
	border-radius: 0;
}
