.header {
	background-image: url("../assets/images/headerback.png");
	background-repeat: round;
	height: 380px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-start;
}

.logo-button {
	background-image: url("../assets/images/logocontrol.png");
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	background-color: transparent;
	cursor: pointer;
	border: none;
	position: relative;
	padding-left: 45vw;
}

.buttons {
	display: flex;
	gap: 10px;
	padding: 5px;
	margin: 2px;
}

.top-portal-button {
	background-image: url("../assets/images/button_icons/portalorange.png");

	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	border: none;
	margin-top: 2%;
	height: 75px;
	width: 75px;
	display: flex;
	flex-direction: column-reverse;
}

.login-button {
	background-image: url("../assets/images/button_icons/pipe.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	border: none;
	height: 75px;
	display: flex;
	flex-direction: column-reverse;
}

.login-button:hover {
	transform: scale(1.1);
}

.login-button span {
	margin-top: 10px;
	font-size: 14px;
	color: #fffbfb;
	text-align: center;
}

.signup-button {
	background-image: url("../assets/images/button_icons/bumper.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-color: transparent;
	cursor: pointer;
	border: none;
	height: 75px;
	display: flex;
	flex-direction: column-reverse;
}

.signup-button:hover {
	transform: scale(1.1);
}

.signup-button span {
	margin-top: 10px;
	font-size: 14px;
	color: #fffbfb;
	text-align: center;
}
